.keyboardContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 30vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: var(--color-tone-4);
  box-shadow: -1px -2px 20px 0px #000000a1;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
  height: 24%;
}

.keyboardLetter {
  background-color: var(--color-tone-2);
  min-width: 1.7rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-tone-6);
  font-weight: 600;
}

.keyboardLetter:hover {
  color: var(--color-tone-1);
  background-color: var(--color-tone-3);
}

.keyboardLetter:active {
  color: var(--color-tone-1);
  background-color: var(--color-tone-5);
}

.bigLetter {
  min-width: 3rem;
}
