.boxesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 80%;
  aspect-ratio: 5 / 1 ;
  gap: 0.4rem;
}

.reverse {
  flex-direction: row-reverse;

}