.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-tone-6);
  height: 100vh;
  color: var(--color-tone-1);
  overflow-y: hidden;
  overflow-x: hidden;
}

.main {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 65vh;
  width: 100%;
  padding: 0 1rem 1rem;
}

.main::-webkit-scrollbar {
  display: none;
}

@media (min-width: 600px) {
  .main {
    width: 60%;

  }
}
