:root {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;

  --color-correct: #538d4e;
  --color-present: #b59f3b;
  --color-absent: var(--color-tone-4);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-tone-6);
  height: 100vh;
  color: var(--color-tone-1);
  overflow-y: hidden;
  overflow-x: hidden;
}

.main {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 65vh;
  width: 100%;
  padding: 0 1rem 1rem;
}





.copyright {
  color: var(--color-tone-3);
  margin-bottom: 5rem ;
}

